.title{	
	position: absolute;
	left: 4.5%;
	top: 6%;
}

.right{	
	position: absolute;
	left: 30%;
	top: 0%;
/* 	border:2px solid #FF6347; */
	width:66%;
	height:100%;
	background-color:#d7deec;
}